{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Doctor App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <div class="sidebar">
    <h2>Dr. ABC DEF</h2>
    <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
    <a href="{% url 'prescription' %}" class="{% if request.path == '/prescription' %}active{% endif %}">Prescriptions</a>
    <a href="#" class="{% if request.path == '/history/' %}active{% endif %}">History</a>
    <a href="#" class="{% if request.path == '/profile/' %}active{% endif %}">Profile</a>
    <a href="#" class="{% if request.path == '/help/' %}active{% endif %}">Help</a>
    <a href="#" class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a>
  </div>

  <div class="main">
    <div class="top-right">
      <strong>I - X - H</strong>
    </div>
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
